.container {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column-reverse;
  padding: 0 2rem;
  text-align: center;
}

.breaktag {
  margin: 5px;
}

.together {
  display: flex;
}
.together > section {
  margin: 20px;
}

.session {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
